name: Build and Push Backend Docker Image to Docker Hub

on:
  workflow_dispatch:

jobs:
  build-and-push-backend-to-docker:
    runs-on: ubuntu-20.04 # Use a stable Ubuntu version

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        # Step 2: Debug Docker environment
      - name: Debug Docker environment
        run: |
          docker version
          docker info

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image for TestPrep Backend
        run: |
          docker build --build-arg GROQ_API_KEY=${{ secrets.GROQ_API_KEY }} --build-arg JWT_SECRET=${{ secrets.JWT_SECRET }} --build-arg MONGO_URI=${{ secrets.MONGO_URI }} -t ${{ secrets.DOCKERHUB_USERNAME }}/testprep_b:latest -f backend/Dockerfile backend/ 

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/testprep_b:latest


  deploy:
    needs: build-and-push-backend-to-docker
    runs-on: self-hosted
    steps:
      - name: Pull Docker image from Docker Hub
        run: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/testprep_b:latest

      - name: Stop and remove existing container (if running)
        run: |
          docker stop testprep_backend || true
          docker rm testprep_backend || true

      - name: Run Docker container
        run: |
          docker run -d --name testprep_backend -p 3001:3001 ${{ secrets.DOCKERHUB_USERNAME }}/testprep_b:latest
