name: Build and Push Frontend Docker Image to Docker Hub

on:
    push:
      branches:
        - main
    workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-20.04  # Specify a known Ubuntu version

    steps:
      # Step 1: Checkout Code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Debug Docker environment
      - name: Debug Docker environment
        run: |
          docker version
          docker info

      # Step 3: Log in to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      - name: Build Docker image for TestPrep Frontend
        run: |
            docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/testprep_f:latest -f frontend/Dockerfile .

    # Step 5: Push Docker Image
      - name: Push Docker image to Docker Hub
        run: |
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/testprep_f:latest
